<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.boot.dao.BoardDAO">

	<!-- 게시글 등록 -->
	<insert id="write" parameterType="Board">
		INSERT INTO cm_board 
		VALUES
		(boardnum_seq.nextval, #{userid}, #{title}, #{content}, sysdate, #{filenum}, #{shared}) 
	</insert>
	
	<!-- 글 목록(개인) -->
	<select id="boardList" parameterType="string" resultType="Board">
		SELECT * FROM cm_board
		WHERE USERID=#{userid}
	</select>
	
	<!-- 글 목록(전체) -->
	<select id="list" resultType="Board">
		SELECT * FROM cm_board
	</select>
	
	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE cm_board
		SET
			title = #{title}, content = #{cotent}, shared = #{shared}
		WHERE
			boardnum = #{boardnum} and userid = #{userid}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE cm_board
		WHERE
			boardnum = #{boardnum}
	</delete>
	
	<!-- 글 검색 -->
	<select id="searchBoard" parameterType="String" resultType="Board">
	
	</select>
</mapper>